<a href="https://colab.research.google.com/github/ggarci10/4961kaur/blob/main/Senior_Design.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score

In [ ]:
import pandas as pd

In [ ]:
RDR = pd.read_csv("https://raw.githubusercontent.com/ggarci10/4961kaur/main/RawData-Regina-June-2023.csv")

In [ ]:
RDR.head()

,id,meterNumber,gw,flow,tf,fr,fim,meterLocalTime,createdDate,u,totalflowinft3,flowinft3,flowrateinft3,isDisplay,previousflow,anomaly,CustomerId
0,72720,19240566,b827eb5e5925,0.000000,89399.500000,0.043590,NaN,2023-06-01 00:08:33.000,2023-06-01 04:08:33.000,gal,0.0,0.0,0.0,True,89399.500000,False,10849
1,72721,19240566,b827eb5e5925,0.000000,89399.500000,0.000000,NaN,2023-06-01 00:09:16.000,2023-06-01 04:09:16.000,gal,0.0,0.0,0.0,True,89399.500000,False,10849
2,72722,19240566,b827eb5e5925,0.265625,89399.765625,0.000000,NaN,2023-06-01 03:24:03.000,2023-06-01 07:24:03.000,gal,0.0,0.0,0.0,False,89399.500000,False,10849
3,72723,19240566,b827eb5e5925,1.851562,89401.617188,0.062082,NaN,2023-06-01 08:04:32.000,2023-06-01 12:04:32.000,gal,0.0,0.0,0.0,False,89399.765625,False,10849
4,72724,19240566,b827eb5e5925,0.000000,89401.617188,0.058560,NaN,2023-06-01 08:04:44.000,2023-06-01 12:04:44.000,gal,0.0,0.0,0.0,True,89401.617188,False,10849

In [ ]:
#

In [ ]:
#DA = pd.read_csv("https://raw.githubusercontent.com/ggarci10/4961kaur/main/ReginaLeakNotificationDataAllYear2022-23.csv?token=GHSAT0AAAAAACJ45HEHYZRDGGC6RO2IY4OUZKJPJMQ")

In [ ]:
#print(DA)

In [ ]:
#WCS = pd.read_csv("https://raw.githubusercontent.com/ggarci10/4961kaur/main/WaterClassifySummary.csv?token=GHSAT0AAAAAACJ45HEHKFQRSBOP7HXUN5LIZKJPG4Q")

In [ ]:
#print(WCS)

In [ ]:
#WCDF = pd.read_csv("https://raw.githubusercontent.com/ggarci10/4961kaur/main/WatreClassifyDataFrame.csv?token=GHSAT0AAAAAACJ45HEGYFZJMGODJBJWVNBQZKJPH3A")

In [ ]:
#print(WCDF)

**dummy file for testing**

In [ ]:
df = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

In [ ]:
print(df)

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
..       ...    ...     ...    ...  ...        ...      ...      ...
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

# Feature importance TESTER

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define feature columns
feature_cols = ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']

# Extract features and target
X = df[feature_cols]
y = df['Balance']  # Assuming 'Balance' is the target variable

# Split the data into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

scaler = StandardScaler() # calls func standard Scalar and  scales features by removing mean and scaling to unit variance
X_train_normalized = scaler.fit_transform(X_train)# fits scaler to (X_train) then transforms X_train by subtracting mean and dividing by standard deviation
X_test_normalized = scaler.transform(X_test)# use

# Instantiate Linear Regression model
my_linreg = LinearRegression()

# Fitting the model to the training data
my_linreg.fit(X_train, y_train)
print(my_linreg.intercept_)
print(my_linreg.coef_)

# Predict on the test set
y_pred = my_linreg.predict(X_test)
print("")
print(y_pred)

-497.0869076583074
[ -7.5197188    0.15640406   1.6355104   18.19349659  -1.00062374
   3.73501837 -20.17447952]

[ 316.89813114  677.5093907   489.03669272  -49.82989971  706.42913216
  864.96954115  897.65752581  108.20297732 -213.73474279  834.94198677
   11.05109139 -227.34447869  472.01450822    4.54554458 -228.17349827
  956.21537845  896.91570524  821.97824267   18.37144232  857.31517013
 1028.30326279  699.22168497 1176.9426756   666.28578465  643.94064891
  690.63628696  589.35273903  -29.37237394  575.15444917  406.78468032
  845.81453327  828.30862904   82.2376206   953.40592514 -184.74828227
  525.84335889 1045.19205022  535.04104472  107.26753118 -172.8968111
  497.84037664 1155.35533939  429.08674601  403.49872552  143.72087313
  764.78737012  431.24114308 1304.79656588  475.00132057   95.75404622
 -215.69000296    5.62900657  313.88797405  859.9328932   792.27147016
 1029.90210771 1500.40180297 1078.48617624  713.37981473 1072.97948262
  -64.12187718  488.60063387   92.3601712   440.414465    277.13284667
 1075.41508762  258.10181743  773.89657462  278.12447916  409.51029492
  335.56674013  989.87781589  978.31940615 1042.6230052   915.82319179
  150.95645254  516.7089988   733.47654088   74.84330655  556.47429962
 1096.60831626  359.12494251  204.54562103  407.76115868  113.50656023
  958.07237887  934.59051997    2.98452112 1627.80317193  636.31395153
  688.17824441  711.80910955  293.66354104 -219.28997401  -91.76701391
 -149.31642723]

In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

# Define feature columns
feature_cols = ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']

# Extract features and target
X = df[feature_cols]
y = df['Balance']  # Assuming 'Balance' is the target variable

# Split the data into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Build the neural network model
model = Sequential()
model.add(Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))  # No activation for the output layer for regression

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.01), loss='mean_squared_error')

# Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=16, verbose=0)

# Evaluate the model on the test set
mse = model.evaluate(X_test_scaled, y_test)
print(f'Mean Squared Error: {mse}')

# Make predictions on the test set
y_pred = model.predict(X_test_scaled)

# Display predictions
predictions_df = pd.DataFrame({'Current Balance': y_test, 'Predicted Balanced': y_pred.flatten()})
print(predictions_df)

3/3 [==============================] - 0s 6ms/step - loss: 16013.4326
Mean Squared Error: 16013.4326171875
3/3 [==============================] - 0s 4ms/step
     Current Balance  Predicted Balanced
57               133          218.345779
32               526          601.934875
17               368          400.001495
167                0            0.223295
2                580          616.803894
..               ...                 ...
25               671          745.241577
397              138          172.601242
62                 0           -0.842828
305                0            2.749128
379                0           16.132961

[96 rows x 2 columns]

# Creating y target for Saya

# created dataframe

Inputs :
*   number of people
*   Type of building

create dataframe:

data = {

*  'ID': [1 , 2 ,3],
*  'monthwaterusage': [3000, 5000, 8000],
*  'Leakage': [.04,2.72,9.18],
*  '#ofPeople':['3, 30, 2'],
*  'TypeofBuilding': [1, 0, 1],
*  'Usage':[]
*  'risk factor':[] = y target
*  psudocode (Usage) = Tf * type buildng / the amount of people
*  psuedocode (risk factor)= monthwaterusage * leakage * type of building
  }


*   Look for information about how much would a leakage cost.
*   look for information about the  the average usage of water is in a month for housing and office

In [ ]:
#this should be how to get the total flow from the month or  use the meterLocalTime	 to get it for the specific month and add it together
monthwaterusage=RDR['tf'][3024]-RDR['tf'][0]
print(monthwaterusage)

394.1484375

0       89399.500000
1       89399.500000
2       89399.765625
3       89401.617188
4       89401.617188
            ...
3200    89798.406250
3201    89798.406250
3202    89798.406250
3203    89798.406250
3204    89798.406250
Name: tf, Length: 3205, dtype: float64